# CS537 Database Project

## Author: Xi Wang

In [1]:
import pandas as pd
import numpy as np
import json
import os

# Generate review table

In [43]:
data = []
with open(os.path.expanduser("~/Desktop/db/project/yelp_academic_dataset_review.json")) as f:
    for line in f: 
        data.append(json.loads(line))

In [44]:
print(data[1])

{'business_id': '5UmKMjUEUNdYWqANhGckJw', 'date': '2014-02-13', 'user_id': 'Iu6AxdBYGR4A0wspR9BYHA', 'type': 'review', 'stars': 5, 'text': "Excellent food. Superb customer service. I miss the mario machines they used to have, but it's still a great place steeped in tradition.", 'votes': {'useful': 0, 'cool': 0, 'funny': 0}, 'review_id': 'KPvLNJ21_4wbYNctrOwWdQ'}

In [45]:
review_df= pd.DataFrame(data)

In [48]:
review_df = review_df.drop(['date', 'type','votes'], axis =1)

In [51]:
review_df.to_csv("review.csv", index = False)

In [52]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685066 entries, 0 to 2685065
Data columns (total 5 columns):
business_id    object
review_id      object
stars          int64
text           object
user_id        object
dtypes: int64(1), object(4)
memory usage: 102.4+ MB

# Generate user table

In [2]:
user_data = []
with open(os.path.expanduser("~/Desktop/db/project/yelp_academic_dataset_user.json")) as f:
    for line in f: 
        user_data.append(json.loads(line))

In [3]:
user_df= pd.DataFrame(user_data)

In [56]:
user_df = user_df.drop(['friends', 'elite', 'compliments'], axis = 1)

In [62]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686556 entries, 0 to 686555
Data columns (total 6 columns):
average_stars    686556 non-null float64
fans             686556 non-null int64
name             686556 non-null object
review_count     686556 non-null int64
user_id          686556 non-null object
yelping_since    686556 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 31.4+ MB

In [58]:
user_df = user_df.drop(['type'], axis = 1)

In [61]:
user = user_df.drop(['votes'], axis=1)

In [63]:
user.to_csv("user.csv", index=False)

# Generate user_votes table

In [4]:
user_vote = user_df['votes']

In [28]:
print(user_df[:5])

   average_stars                                        compliments  \
0           4.14  {'profile': 8, 'writer': 9, 'plain': 25, 'more...
1           3.67  {'profile': 117, 'writer': 346, 'plain': 970, ...
2           3.68  {'profile': 9, 'writer': 24, 'plain': 86, 'lis...
3           4.64                                        {'cute': 2}
4           3.80  {'writer': 2, 'plain': 2, 'cute': 2, 'hot': 1,...

                                               elite  fans  \
0                                       [2005, 2006]    69
1  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...  1345
2  [2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...   105
3                                                 []     2
4                                             [2005]     5

                                             friends       name  review_count  \
0  [rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...     Russel           108
1  [18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...     Jeremy          1292
2  [18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...    Michael           395
3  [18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...        Ken            11
4  [rpOyqD_893cqmDAtJLbdog, HDQixQ-WZEV0LVPJlIGQe...  Katherine            66

   type                 user_id  \
0  user  18kPq7GPye-YQ3LyKyAZPw
1  user  rpOyqD_893cqmDAtJLbdog
2  user  4U9kSBLuBDU391x6bxU-YA
3  user  fHtTaujcyKvXglE33Z5yIw
4  user  SIBCL7HBkrP4llolm4SC2A

                                             votes yelping_since
0       {'useful': 282, 'cool': 246, 'funny': 167}       2004-10
1  {'useful': 15242, 'cool': 12091, 'funny': 8399}       2004-10
2      {'useful': 1349, 'cool': 657, 'funny': 722}       2004-10
3            {'useful': 11, 'cool': 5, 'funny': 1}       2004-10
4          {'useful': 37, 'cool': 16, 'funny': 13}       2004-10

In [5]:
user_vote = pd.DataFrame(user_vote)

In [23]:
user_vote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686556 entries, 0 to 686555
Data columns (total 1 columns):
votes    686556 non-null object
dtypes: object(1)
memory usage: 5.2+ MB

In [14]:
user_vote_json = user_vote['votes'].to_json(orient='columns')

In [21]:
user_vote_json[:1000]

'{"0":{"useful":282,"cool":246,"funny":167},"1":{"useful":15242,"cool":12091,"funny":8399},"2":{"useful":1349,"cool":657,"funny":722},"3":{"useful":11,"cool":5,"funny":1},"4":{"useful":37,"cool":16,"funny":13},"5":{"useful":18183,"cool":17177,"funny":13357},"6":{"useful":39,"cool":25,"funny":35},"7":{"useful":135,"cool":34,"funny":34},"8":{"useful":251,"cool":52,"funny":58},"9":{"useful":1,"cool":0,"funny":0},"10":{"useful":29,"cool":14,"funny":7},"11":{"useful":2418,"cool":1938,"funny":1113},"12":{"useful":51,"cool":19,"funny":48},"13":{"useful":62,"cool":20,"funny":11},"14":{"useful":15,"cool":2,"funny":2},"15":{"useful":0,"cool":0,"funny":2},"16":{"useful":15,"cool":5,"funny":2},"17":{"useful":35,"cool":6,"funny":6},"18":{"useful":14,"cool":7,"funny":1},"19":{"useful":0,"cool":0,"funny":0},"20":{"useful":0,"cool":0,"funny":0},"21":{"useful":12,"cool":5,"funny":1},"22":{"useful":51,"cool":17,"funny":16},"23":{"useful":12,"cool":1,"funny":2},"24":{"useful":3,"cool":0,"funny":1},"25":{"'

In [17]:
user_vote_data = pd.read_json(user_vote_json, orient='index')

In [22]:
user_vote_data = pd.DataFrame(user_vote_data)

In [25]:
user_vote_data = user_vote_data.sort_index()

In [29]:
user_vote_data['user_id'] = user_df['user_id']

In [30]:
print(user_vote_data[:5])

    cool  funny  useful                 user_id
0    246    167     282  18kPq7GPye-YQ3LyKyAZPw
1  12091   8399   15242  rpOyqD_893cqmDAtJLbdog
2    657    722    1349  4U9kSBLuBDU391x6bxU-YA
3      5      1      11  fHtTaujcyKvXglE33Z5yIw
4     16     13      37  SIBCL7HBkrP4llolm4SC2A

In [31]:
user_vote_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 686556 entries, 0 to 686555
Data columns (total 4 columns):
cool       686556 non-null int64
funny      686556 non-null int64
useful     686556 non-null int64
user_id    686556 non-null object
dtypes: int64(3), object(1)
memory usage: 26.2+ MB

In [32]:
user_vote_data.to_csv('user_votes.csv', index = False)

# Generate business table

In [2]:
business_data = []
with open(os.path.expanduser("~/Desktop/db/project/yelp_academic_dataset_business.json")) as f:
    for line in f: 
        business_data.append(json.loads(line))

In [3]:
business_df = pd.DataFrame(business_data)

In [9]:
business_df = pd.read_csv("all_business.csv")

In [10]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85901 entries, 0 to 85900
Data columns (total 15 columns):
attributes       85901 non-null object
business_id      85901 non-null object
categories       85901 non-null object
city             85899 non-null object
full_address     85901 non-null object
hours            85901 non-null object
latitude         85901 non-null float64
longitude        85901 non-null float64
name             85901 non-null object
neighborhoods    85901 non-null object
open             85901 non-null bool
review_count     85901 non-null int64
stars            85901 non-null float64
state            85900 non-null object
type             85901 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 9.3+ MB

In [11]:
#category = pd.DataFrame(business_df.pop('categories').tolist())

In [12]:
#bus_df = business_df.join(category, rsuffix="_category")

In [13]:
# select business in restaurant categories
business_sel_df = business_df[business_df['categories'].apply(str).str.contains("Restaurants")]

In [14]:
business_sel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26729 entries, 0 to 85900
Data columns (total 15 columns):
attributes       26729 non-null object
business_id      26729 non-null object
categories       26729 non-null object
city             26729 non-null object
full_address     26729 non-null object
hours            26729 non-null object
latitude         26729 non-null float64
longitude        26729 non-null float64
name             26729 non-null object
neighborhoods    26729 non-null object
open             26729 non-null bool
review_count     26729 non-null int64
stars            26729 non-null float64
state            26728 non-null object
type             26729 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 3.1+ MB

In [15]:
business = business_sel_df.drop(['type', 'categories', 'attributes', 'hours', 'neighborhoods','open'], axis=1)

In [16]:
business.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26729 entries, 0 to 85900
Data columns (total 9 columns):
business_id     26729 non-null object
city            26729 non-null object
full_address    26729 non-null object
latitude        26729 non-null float64
longitude       26729 non-null float64
name            26729 non-null object
review_count    26729 non-null int64
stars           26729 non-null float64
state           26728 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 2.0+ MB

In [17]:
business.to_csv("business.csv", index = False)

# Generate city_state table

In [17]:
business['state'] = business['state'].fillna("QC")

In [18]:
city_state = business[['city','state']].drop_duplicates()

In [20]:
city_state.to_csv("city_state.csv", index = False)

# Generate business_attrbutes table

In [71]:
attribute = pd.DataFrame(business_sel_df['attributes'])

In [72]:
print(attribute[:10])

                                           attributes
0   {'Caters': False, 'Good for Kids': True, 'Good...
3   {'Smoking': 'no', 'Happy Hour': False, 'Ambien...
5   {'Smoking': 'outdoor', 'Happy Hour': True, 'Am...
12  {'Attire': 'casual', 'Takes Reservations': Fal...
17  {'Attire': 'casual', 'Happy Hour': True, 'Ambi...
18  {'Attire': 'casual', 'Ambience': {'upscale': F...
19  {'Attire': 'casual', 'Takes Reservations': Fal...
21  {'Music': {'karaoke': False, 'background_music...
22                                                 {}
24  {'Caters': False, 'Attire': 'casual', 'Good fo...

In [73]:
attr_json = attribute['attributes'].to_json(orient='columns')

In [74]:
attr_json[:1000]

'{"0":{"Caters":false,"Good for Kids":true,"Good For":{"lunch":false,"latenight":false,"breakfast":false,"brunch":false,"dinner":false,"dessert":false},"Ambience":{"upscale":false,"romantic":false,"intimate":false,"divey":false,"hipster":false,"classy":false,"touristy":false,"casual":false,"trendy":false},"Attire":"casual","Outdoor Seating":false,"Price Range":1,"Good For Groups":true,"Noise Level":"average","Delivery":false,"Takes Reservations":false,"Take-out":true,"Drive-Thru":false,"Accepts Credit Cards":true,"Waiter Service":false,"Alcohol":"none","Parking":{"street":false,"valet":false,"garage":false,"lot":false,"validated":false},"Has TV":false},"3":{"Smoking":"no","Happy Hour":false,"Ambience":{"upscale":false,"romantic":false,"intimate":false,"divey":true,"hipster":false,"classy":false,"touristy":false,"casual":false,"trendy":false},"Attire":"casual","Good For Dancing":false,"Outdoor Seating":false,"Good for Kids":true,"Price Range":2,"Good For":{"lunch":true,"latenight":false,'

In [75]:
attr_data = pd.read_json(attr_json, orient='index')

In [76]:
attr_data = pd.DataFrame(attr_data).sort_index()

In [81]:
attr_data['business_id'] = business_sel_df['business_id']

In [83]:
print(attr_data[:10])

    Accepts Credit Cards  Accepts Insurance Ages Allowed   Alcohol  \
0                    1.0                NaN          NaN      none
3                    1.0                NaN          NaN  full_bar
5                    1.0                NaN          NaN  full_bar
12                   1.0                NaN          NaN      none
17                   1.0                NaN          NaN  full_bar
18                   0.0                NaN          NaN      none
19                   1.0                NaN          NaN      none
21                   1.0                NaN          NaN  full_bar
22                   NaN                NaN          NaN       NaN
24                   1.0                NaN          NaN      none

                                             Ambience  Attire  BYOB  \
0   {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
3   {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
5   {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
12                                                NaN  casual   NaN
17  {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
18  {'upscale': False, 'intimate': False, 'divey':...  casual   0.0
19  {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
21  {'upscale': False, 'intimate': False, 'divey':...  casual   NaN
22                                                NaN     NaN   NaN
24  {'upscale': False, 'intimate': False, 'divey':...  casual   NaN

   BYOB/Corkage  By Appointment Only  Caters           ...            \
0           NaN                  NaN     0.0           ...
3           NaN                  NaN     1.0           ...
5           NaN                  NaN     0.0           ...
12          NaN                  NaN     NaN           ...
17          NaN                  NaN     0.0           ...
18     yes_free                  NaN     0.0           ...
19          NaN                  NaN     NaN           ...
21          NaN                  NaN     NaN           ...
22          NaN                  NaN     NaN           ...
24          NaN                  NaN     0.0           ...

    Outdoor Seating                                            Parking  \
0               0.0  {'street': False, 'valet': False, 'garage': Fa...
3               0.0  {'street': False, 'valet': False, 'garage': Fa...
5               1.0  {'street': False, 'valet': False, 'garage': Fa...
12              0.0  {'street': False, 'valet': False, 'garage': Fa...
17              0.0  {'street': False, 'valet': False, 'garage': Fa...
18              0.0  {'street': False, 'valet': False, 'garage': Fa...
19              0.0  {'street': False, 'valet': False, 'garage': Fa...
21              1.0  {'street': True, 'valet': False, 'garage': Fal...
22              NaN                                                NaN
24              0.0  {'street': False, 'valet': False, 'garage': Fa...

    Price Range  Smoking  Take-out  Takes Reservations Waiter Service  \
0           1.0      NaN       1.0                 0.0            0.0
3           2.0       no       1.0                 0.0            1.0
5           1.0  outdoor       1.0                 0.0            1.0
12          1.0      NaN       1.0                 0.0            1.0
17          1.0       no       1.0                 0.0            1.0
18          1.0      NaN       1.0                 0.0            1.0
19          1.0      NaN       1.0                 0.0            1.0
21          2.0      NaN       1.0                 0.0            1.0
22          NaN      NaN       NaN                 NaN            NaN
24          1.0      NaN       1.0                 0.0            0.0

    Wheelchair Accessible  Wi-Fi             business_id
0                     NaN    NaN  5UmKMjUEUNdYWqANhGckJw
3                     NaN     no  mVHrayjG3uZ_RLHkLj-AMg
5                     NaN   free  KayYbHCt-RkbGcPdGOThNg
12                    1.0    NaN  wJr6kSA5dchdgOdwH6dZ2w
17                    1.0   free  fNGIbpazjTRdXgwRY_NIXA
18                    0.0     no  b9WZJp5L1RZr4F1nxclOoQ
19                    NaN    NaN  zaXDakTd3RXyOa7sMrUE1g
21                    NaN    NaN  WETE_LykpcnrC1sFcQ5EGg
22                    NaN    NaN  6o3RK6rTcN3nw-j-r2nQmA
24                    1.0     no  rv7CY8G_XibTx82YhuqQRw

[10 rows x 36 columns]

In [86]:
attr_id = attr_data.set_index('business_id').stack().reset_index()

In [89]:
attr_id = attr_id.rename(columns={'level_1':'attribute_name', 0:'attribute_value'})

In [93]:
attr_id.to_csv("business_attributes.csv", index = False)

In [90]:
print(attr_id[:20])

               business_id        attribute_name  \
0   5UmKMjUEUNdYWqANhGckJw  Accepts Credit Cards
1   5UmKMjUEUNdYWqANhGckJw               Alcohol
2   5UmKMjUEUNdYWqANhGckJw              Ambience
3   5UmKMjUEUNdYWqANhGckJw                Attire
4   5UmKMjUEUNdYWqANhGckJw                Caters
5   5UmKMjUEUNdYWqANhGckJw              Delivery
6   5UmKMjUEUNdYWqANhGckJw            Drive-Thru
7   5UmKMjUEUNdYWqANhGckJw              Good For
8   5UmKMjUEUNdYWqANhGckJw       Good For Groups
9   5UmKMjUEUNdYWqANhGckJw         Good for Kids
10  5UmKMjUEUNdYWqANhGckJw                Has TV
11  5UmKMjUEUNdYWqANhGckJw           Noise Level
12  5UmKMjUEUNdYWqANhGckJw       Outdoor Seating
13  5UmKMjUEUNdYWqANhGckJw               Parking
14  5UmKMjUEUNdYWqANhGckJw           Price Range
15  5UmKMjUEUNdYWqANhGckJw              Take-out
16  5UmKMjUEUNdYWqANhGckJw    Takes Reservations
17  5UmKMjUEUNdYWqANhGckJw        Waiter Service
18  mVHrayjG3uZ_RLHkLj-AMg  Accepts Credit Cards
19  mVHrayjG3uZ_RLHkLj-AMg               Alcohol

                                      attribute_value
0                                                   1
1                                                none
2   {'upscale': False, 'intimate': False, 'divey':...
3                                              casual
4                                                   0
5                                                   0
6                                                   0
7   {'lunch': False, 'latenight': False, 'breakfas...
8                                                   1
9                                                   1
10                                                  0
11                                            average
12                                                  0
13  {'street': False, 'valet': False, 'garage': Fa...
14                                                  1
15                                                  1
16                                                  0
17                                                  0
18                                                  1
19                                           full_bar

In [28]:
attributes = pd.read_csv("business_attributes.csv")

In [29]:
attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438445 entries, 0 to 438444
Data columns (total 3 columns):
business_id        438445 non-null object
attribute_name     438445 non-null object
attribute_value    438445 non-null object
dtypes: object(3)
memory usage: 10.0+ MB

In [41]:
attr = attributes[~attributes['attribute_value'].apply(str).str.contains("{")]

In [46]:
print(attr[:20])

               business_id        attribute_name attribute_value
0   5UmKMjUEUNdYWqANhGckJw  Accepts Credit Cards            true
1   5UmKMjUEUNdYWqANhGckJw               Alcohol            none
3   5UmKMjUEUNdYWqANhGckJw                Attire          casual
4   5UmKMjUEUNdYWqANhGckJw                Caters           false
5   5UmKMjUEUNdYWqANhGckJw              Delivery           false
6   5UmKMjUEUNdYWqANhGckJw            Drive-Thru           false
8   5UmKMjUEUNdYWqANhGckJw       Good For Groups            true
9   5UmKMjUEUNdYWqANhGckJw         Good for Kids            true
10  5UmKMjUEUNdYWqANhGckJw                Has TV           false
11  5UmKMjUEUNdYWqANhGckJw           Noise Level         average
12  5UmKMjUEUNdYWqANhGckJw       Outdoor Seating           false
14  5UmKMjUEUNdYWqANhGckJw           Price Range            true
15  5UmKMjUEUNdYWqANhGckJw              Take-out            true
16  5UmKMjUEUNdYWqANhGckJw    Takes Reservations           false
17  5UmKMjUEUNdYWqANhGckJw        Waiter Service           false
18  mVHrayjG3uZ_RLHkLj-AMg  Accepts Credit Cards            true
19  mVHrayjG3uZ_RLHkLj-AMg               Alcohol        full_bar
21  mVHrayjG3uZ_RLHkLj-AMg                Attire          casual
22  mVHrayjG3uZ_RLHkLj-AMg                Caters            true
23  mVHrayjG3uZ_RLHkLj-AMg            Coat Check           false

In [45]:
attr['attribute_value'][attr['attribute_value'] == '1.0'] = 'true'
attr['attribute_value'][attr['attribute_value'] == '0.0'] = 'false'

/Users/eeriee/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:4485: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/eeriee/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
attr.to_csv("business_attributes.csv", index = False)

# Generate business_category table

In [94]:
bus_cat = business_sel_df[['business_id', 'categories']]

In [95]:
print(bus_cat[:10])

               business_id                                         categories
0   5UmKMjUEUNdYWqANhGckJw                           [Fast Food, Restaurants]
3   mVHrayjG3uZ_RLHkLj-AMg  [Bars, American (New), Nightlife, Lounges, Res...
5   KayYbHCt-RkbGcPdGOThNg  [Bars, American (Traditional), Nightlife, Rest...
12  wJr6kSA5dchdgOdwH6dZ2w  [Burgers, Breakfast & Brunch, American (Tradit...
17  fNGIbpazjTRdXgwRY_NIXA  [Bars, American (Traditional), Nightlife, Loun...
18  b9WZJp5L1RZr4F1nxclOoQ      [Breakfast & Brunch, Sandwiches, Restaurants]
19  zaXDakTd3RXyOa7sMrUE1g                               [Cafes, Restaurants]
21  WETE_LykpcnrC1sFcQ5EGg        [Pubs, Irish, Nightlife, Bars, Restaurants]
22  6o3RK6rTcN3nw-j-r2nQmA                               [Pizza, Restaurants]
24  rv7CY8G_XibTx82YhuqQRw                                      [Restaurants]

In [96]:
bus_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26729 entries, 0 to 85900
Data columns (total 2 columns):
business_id    26729 non-null object
categories     26729 non-null object
dtypes: object(2)
memory usage: 626.5+ KB

In [97]:
bus_cat.to_csv("business_category.csv", indebx=False)

In [ ]:
bus_cat.read_csv("business_category.csv", indebx=False)

# Generate business_hours table

In [99]:
bus_hours_json = business_sel_df['hours'].to_json(orient='columns')

In [101]:
bus_hours = pd.read_json(bus_hours_json, orient='index')

In [104]:
bus_hours = pd.DataFrame(bus_hours).sort_index()

In [107]:
bus_hours = bus_hours.fillna('close all day')

In [109]:
bus_hours['business_id'] = business_sel_df['business_id']

In [110]:
print(bus_hours[:10])

                                 Friday                               Monday  \
0   {'close': '21:00', 'open': '11:00'}  {'close': '21:00', 'open': '11:00'}
3   {'close': '20:00', 'open': '10:00'}                        close all day
5   {'close': '02:00', 'open': '11:00'}  {'close': '02:00', 'open': '11:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}
17  {'close': '23:00', 'open': '11:00'}  {'close': '23:00', 'open': '11:00'}
18  {'close': '14:30', 'open': '06:00'}  {'close': '14:30', 'open': '06:00'}
19  {'close': '14:00', 'open': '07:00'}  {'close': '14:00', 'open': '07:00'}
21                        close all day                        close all day
22  {'close': '00:00', 'open': '11:00'}  {'close': '22:00', 'open': '11:00'}
24                        close all day                        close all day

                               Saturday                               Sunday  \
0                         close all day                        close all day
3   {'close': '16:00', 'open': '10:00'}                        close all day
5   {'close': '02:00', 'open': '12:00'}  {'close': '22:00', 'open': '12:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}
17  {'close': '23:00', 'open': '11:00'}                        close all day
18  {'close': '12:30', 'open': '06:00'}  {'close': '12:30', 'open': '07:00'}
19  {'close': '12:00', 'open': '07:00'}                        close all day
21                        close all day                        close all day
22  {'close': '23:00', 'open': '11:00'}  {'close': '22:30', 'open': '12:00'}
24                        close all day                        close all day

                               Thursday                              Tuesday  \
0   {'close': '21:00', 'open': '11:00'}  {'close': '21:00', 'open': '11:00'}
3   {'close': '19:00', 'open': '10:00'}  {'close': '19:00', 'open': '10:00'}
5   {'close': '02:00', 'open': '11:00'}  {'close': '02:00', 'open': '11:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}
17  {'close': '23:00', 'open': '11:00'}  {'close': '23:00', 'open': '11:00'}
18  {'close': '14:30', 'open': '06:00'}  {'close': '14:30', 'open': '06:00'}
19  {'close': '14:00', 'open': '07:00'}  {'close': '14:00', 'open': '07:00'}
21                        close all day                        close all day
22  {'close': '23:00', 'open': '11:00'}  {'close': '22:00', 'open': '11:00'}
24                        close all day                        close all day

                              Wednesday             business_id
0   {'close': '21:00', 'open': '11:00'}  5UmKMjUEUNdYWqANhGckJw
3   {'close': '19:00', 'open': '10:00'}  mVHrayjG3uZ_RLHkLj-AMg
5   {'close': '02:00', 'open': '11:00'}  KayYbHCt-RkbGcPdGOThNg
12  {'close': '02:00', 'open': '08:00'}  wJr6kSA5dchdgOdwH6dZ2w
17  {'close': '23:00', 'open': '11:00'}  fNGIbpazjTRdXgwRY_NIXA
18  {'close': '14:30', 'open': '06:00'}  b9WZJp5L1RZr4F1nxclOoQ
19  {'close': '14:00', 'open': '07:00'}  zaXDakTd3RXyOa7sMrUE1g
21                        close all day  WETE_LykpcnrC1sFcQ5EGg
22  {'close': '22:00', 'open': '11:00'}  6o3RK6rTcN3nw-j-r2nQmA
24                        close all day  rv7CY8G_XibTx82YhuqQRw

In [111]:
cols = bus_hours.columns.tolist()

In [112]:
cols

['Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'business_id']

In [115]:
cols = ['business_id',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday'
]

In [116]:
cols

['business_id',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday']

In [117]:
bus_hours = bus_hours[cols]

In [118]:
print(bus_hours[:4])

               business_id                               Monday  \
0   5UmKMjUEUNdYWqANhGckJw  {'close': '21:00', 'open': '11:00'}
3   mVHrayjG3uZ_RLHkLj-AMg                        close all day
5   KayYbHCt-RkbGcPdGOThNg  {'close': '02:00', 'open': '11:00'}
12  wJr6kSA5dchdgOdwH6dZ2w  {'close': '02:00', 'open': '08:00'}

                                Tuesday                            Wednesday  \
0   {'close': '21:00', 'open': '11:00'}  {'close': '21:00', 'open': '11:00'}
3   {'close': '19:00', 'open': '10:00'}  {'close': '19:00', 'open': '10:00'}
5   {'close': '02:00', 'open': '11:00'}  {'close': '02:00', 'open': '11:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}

                               Thursday                               Friday  \
0   {'close': '21:00', 'open': '11:00'}  {'close': '21:00', 'open': '11:00'}
3   {'close': '19:00', 'open': '10:00'}  {'close': '20:00', 'open': '10:00'}
5   {'close': '02:00', 'open': '11:00'}  {'close': '02:00', 'open': '11:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}

                               Saturday                               Sunday
0                         close all day                        close all day
3   {'close': '16:00', 'open': '10:00'}                        close all day
5   {'close': '02:00', 'open': '12:00'}  {'close': '22:00', 'open': '12:00'}
12  {'close': '02:00', 'open': '08:00'}  {'close': '02:00', 'open': '08:00'}

In [119]:
bus_hours.to_csv("business_hours.csv", index = False)

In [48]:
hours = pd.read_csv("business_hours.csv")

In [108]:
hours.to_csv("business_hours.csv", index = False)

In [106]:
hours.head()

,business_id,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,5UmKMjUEUNdYWqANhGckJw,11:00-21:00,11:00-21:00,11:00-21:00,11:00-21:00,11:00-21:00,11:00-21:00,11:00-21:00
1,mVHrayjG3uZ_RLHkLj-AMg,close all day,close all day,close all day,close all day,close all day,close all day,close all day
2,KayYbHCt-RkbGcPdGOThNg,11:00-02:00,11:00-02:00,11:00-02:00,11:00-02:00,11:00-02:00,11:00-02:00,11:00-02:00
3,wJr6kSA5dchdgOdwH6dZ2w,08:00-02:00,08:00-02:00,08:00-02:00,08:00-02:00,08:00-02:00,08:00-02:00,08:00-02:00
4,fNGIbpazjTRdXgwRY_NIXA,11:00-23:00,11:00-23:00,11:00-23:00,11:00-23:00,11:00-23:00,11:00-23:00,11:00-23:00

In [104]:
hours['Sunday'] = hours.Monday.apply(lambda d: d.replace('\'','"'))

In [105]:
hours['Sunday'] = hours.Monday.apply(lambda d: '-'.join([d['open'], d['close']]) 
                          if isinstance(d, dict) else d)

In [88]:
def stringtodict(d):
    if(d.find("{") > -1):
        res = json.loads(d)
        return '-'.join([res['open'], res['close']])
    return d

In [60]:
hours.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 8 columns):
business_id    26729 non-null object
Monday         26729 non-null object
Tuesday        26729 non-null object
Wednesday      26729 non-null object
Thursday       26729 non-null object
Friday         26729 non-null object
Saturday       26729 non-null object
Sunday         26729 non-null object
dtypes: object(8)
memory usage: 1.6+ MB

# Generate subcity_city table

In [122]:
subcity = business_sel_df[['city', 'state']]

In [123]:
subcity = subcity.drop_duplicates()

In [124]:
subcity

                       city state
0                Dravosburg    PA
3                  Braddock    PA
5                  Carnegie    PA
28               Pittsburgh    PA
33                Homestead    PA
40                  Munhall    PA
56           West Homestead    PA
84             West Mifflin    PA
92             McKees Rocks    PA
94            Mc Kees Rocks    PA
103                 Bellvue    PA
105                Bellevue    PA
345               Swissvale    PA
531               Aspinwall    PA
601               Brookline    PA
619           Mount Lebanon    PA
721          Castle Shannon    PA
784                 Belmont    NC
807            Huntersville    NC
819                Matthews    NC
836             Mount Holly    NC
847               Pineville    NC
889               Charlotte    NC
1621              Fort Mill    SC
1655             Lake Wylie    SC
1657                 Clover    SC
1658              Rock Hill    SC
1663              De Forest    WI
1672               DeForest    WI
1683             Mc Farland    WI
...                     ...   ...
72109  Central City Village    AZ
72534             Mcfarland    WI
72558             Arlington    AZ
72751     North Queensferry   FIF
72848        Stowe Township    PA
74280          Sun PrairieÊ    WI
74308             Scottdale    AZ
74425         Saint Leonard    QC
74651               Central    AZ
74660   Dollard-Des Ormeaux    QC
74675            Portobello   EDH
75461            Repentigny    QC
76450                  Dane    WI
77098          Burrito King    IL
77167         Squirrel Hill    PA
78399        Laveen Village    AZ
79926              La Salle    QC
79953           Saint-Henri    QC
80712           Maricopa AZ    AZ
80950            St-Leonard    QC
81078              Montreal
81289        Montreal-Ouest    QC
81986             Edimbourg   EDH
83847       Chomedey, Laval    QC
84130               Blawnox    PA
85084            Montgomery    NC
85151              Chandler    AK
85211        West Las Vegas    NV
85247              LasVegas    NV
85713            Fort  Mill    SC

[306 rows x 2 columns]

In [23]:
subcity_city = pd.read_csv("subcity_city.csv",encoding = "ISO-8859-1")

In [24]:
print(subcity_city[:5])

      subcity state country        city
0  Dravosburg    PA      US  Pittsburgh
1    Braddock    PA      US  Pittsburgh
2    Carnegie    PA      US  Pittsburgh
3  Pittsburgh    PA      US  Pittsburgh
4   Homestead    PA      US  Pittsburgh

In [25]:
state_country = subcity_city[['state', 'country']].drop_duplicates()

In [27]:
state_country.to_csv("state_country.csv", index=False)

In [138]:
city

    country state              city
0        UK   EDH         Edinburgh
1        UK   FIF         Edinburgh
2   Germany    BW         Karlsruhe
3    Canada    QC          Montreal
4    Canada    ON          Waterloo
5        US    PA        Pittsburgh
6        US    NC         Charlotte
7        US    SC         Charlotte
8        US    IL  Urbana-Champaign
9        US    AZ           Phoenix
10       US    NV         Las Vegas
11       US    WI           Madison

In [139]:
subcity_city = pd.merge(subcity, city, on="state", how='left')

In [140]:
subcity_city

                   city_x state country            city_y
0              Dravosburg    PA      US        Pittsburgh
1                Braddock    PA      US        Pittsburgh
2                Carnegie    PA      US        Pittsburgh
3              Pittsburgh    PA      US        Pittsburgh
4               Homestead    PA      US        Pittsburgh
5                 Munhall    PA      US        Pittsburgh
6          West Homestead    PA      US        Pittsburgh
7            West Mifflin    PA      US        Pittsburgh
8            McKees Rocks    PA      US        Pittsburgh
9           Mc Kees Rocks    PA      US        Pittsburgh
10                Bellvue    PA      US        Pittsburgh
11               Bellevue    PA      US        Pittsburgh
12              Swissvale    PA      US        Pittsburgh
13              Aspinwall    PA      US        Pittsburgh
14              Brookline    PA      US        Pittsburgh
15          Mount Lebanon    PA      US        Pittsburgh
16         Castle Shannon    PA      US        Pittsburgh
17                Belmont    NC      US         Charlotte
18           Huntersville    NC      US         Charlotte
19               Matthews    NC      US         Charlotte
20            Mount Holly    NC      US         Charlotte
21              Pineville    NC      US         Charlotte
22              Charlotte    NC      US         Charlotte
23              Fort Mill    SC      US         Charlotte
24             Lake Wylie    SC      US         Charlotte
25                 Clover    SC      US         Charlotte
26              Rock Hill    SC      US         Charlotte
27              De Forest    WI      US           Madison
28               DeForest    WI      US           Madison
29             Mc Farland    WI      US           Madison
..                    ...   ...     ...               ...
276  Central City Village    AZ      US           Phoenix
277             Mcfarland    WI      US           Madison
278             Arlington    AZ      US           Phoenix
279     North Queensferry   FIF      UK         Edinburgh
280        Stowe Township    PA      US        Pittsburgh
281          Sun PrairieÊ    WI      US           Madison
282             Scottdale    AZ      US           Phoenix
283         Saint Leonard    QC  Canada          Montreal
284               Central    AZ      US           Phoenix
285   Dollard-Des Ormeaux    QC  Canada          Montreal
286            Portobello   EDH      UK         Edinburgh
287            Repentigny    QC  Canada          Montreal
288                  Dane    WI      US           Madison
289          Burrito King    IL      US  Urbana-Champaign
290         Squirrel Hill    PA      US        Pittsburgh
291        Laveen Village    AZ      US           Phoenix
292              La Salle    QC  Canada          Montreal
293           Saint-Henri    QC  Canada          Montreal
294           Maricopa AZ    AZ      US           Phoenix
295            St-Leonard    QC  Canada          Montreal
296              Montreal           NaN               NaN
297        Montreal-Ouest    QC  Canada          Montreal
298             Edimbourg   EDH      UK         Edinburgh
299       Chomedey, Laval    QC  Canada          Montreal
300               Blawnox    PA      US        Pittsburgh
301            Montgomery    NC      US         Charlotte
302              Chandler    AK     NaN               NaN
303        West Las Vegas    NV      US         Las Vegas
304              LasVegas    NV      US         Las Vegas
305            Fort  Mill    SC      US         Charlotte

[306 rows x 4 columns]

In [141]:
subcity_city.to_csv("subcity_city.csv", index = False)

In [7]:
state_info = pd.read_csv('subcity_city.csv', encoding = "ISO-8859-1")

In [8]:
print(state_info[:10])

          subcity state country        city
0      Dravosburg    PA      US  Pittsburgh
1        Braddock    PA      US  Pittsburgh
2        Carnegie    PA      US  Pittsburgh
3      Pittsburgh    PA      US  Pittsburgh
4       Homestead    PA      US  Pittsburgh
5         Munhall    PA      US  Pittsburgh
6  West Homestead    PA      US  Pittsburgh
7    West Mifflin    PA      US  Pittsburgh
8    McKees Rocks    PA      US  Pittsburgh
9   Mc Kees Rocks    PA      US  Pittsburgh

In [11]:
state = state_info[['state', '']]

array(['PA', 'NC', 'SC', 'WI', 'IL', 'AZ', 'NV', 'FL', 'NM', 'QC', 'ON',
       'TX', 'EDH', 'MLN', 'FIF', 'ELN', 'BW', 'RP', 'KHL', 'NW', 'AK'], dtype=object)

# Generate university table

In [18]:
uni = pd.read_csv("university.csv")

In [22]:
import re
import string
def genUniID(area, name):
    #str2 = ''.join([s if not s in string.punctuation else ' ' for s in name]).split()
    #for s in str2:
    #    if(len(s) < 3 or s in ['University', 'School', 'College']):
    #        continue
    #    str1 += s[0:2]
    res = str(len(name)) + area[0:3] + name[0:2]
    return res

In [23]:
uni["university_id"] = uni.apply(lambda x: genUniID(x['area'], x['university_name']), axis =1)

In [24]:
uni

,area,university_name,latitude,longitude,university_id
0,Edinburgh,University of Edinburgh,55.949236,-3.188715,23EdiUn
1,Edinburgh,Heriot-Watt University,55.916008,-3.321408,22EdiHe
2,Edinburgh,Edinburgh Napier University,55.918727,-3.239828,27EdiEd
3,Edinburgh,Edinburgh College,55.943907,-3.098522,17EdiEd
4,Edinburgh,Leith School of Art,55.976253,-3.179793,19EdiLe
5,Edinburgh,Edinburgh Theological Seminary,55.949951,-3.194276,30EdiEd
6,Montreal,University of Montreal,45.505563,-73.613722,22MonUn
7,Montreal,Universite du Quebec a Montreal,45.512576,-73.560669,31MonUn
8,Montreal,Concordia University - Loyola Campus,45.458009,-73.640334,36MonCo
9,Montreal,McGill University,45.504956,-73.576181,17MonMc
10,Montreal,HEC Montreal,45.503351,-73.620334,12MonHE
11,Montreal,Ecole Polytechnique de Montreal,45.504373,-73.612481,31MonEc
12,Montreal,Cegep du Vieux Montreal,45.514590,-73.565617,23MonCe
13,Montreal,Vanier College,45.515161,-73.675044,14MonVa
14,Montreal,LaSalle College,45.491497,-73.581042,15MonLa
15,Montreal,College Ahuntsic,45.552116,-73.641415,16MonCo
16,Pittsburgh,University of Pittsburgh,40.446208,-79.960817,24PitUn
17,Pittsburgh,Carnegie Mellon University,40.443495,-79.943657,26PitCa
18,Pittsburgh,Duquesne University,40.436981,-79.990244,19PitDu
19,Pittsburgh,Point Park University,40.438497,-80.001276,21PitPo
20,Pittsburgh,Chatham University,40.451304,-79.925514,18PitCh
21,Pittsburgh,Carlow University,40.438980,-79.963075,17PitCa
22,Pittsburgh,La Roche College,40.570300,-80.013567,16PitLa
23,Pittsburgh,The Art Institute of Pittsburgh,40.437348,-79.999608,31PitTh
24,Pittsburgh,Joseph M. Katz Graduate School of Business,40.440823,-79.953319,42PitJo
25,Karlsruhe,Karlsruhe Institute of Technology,49.011695,8.430382,33KarKa
26,Karlsruhe,Hochschule Karlsruhe-Technik und Wirtschaft,49.015856,8.389617,43KarHo
27,Karlsruhe,Padagogische Hochschule Karlsruhe,49.013310,8.394376,33KarPa
28,Karlsruhe,Hochschule fur Musik Karlsruhe,49.004575,8.427671,30KarHo
29,Karlsruhe,Karlsruhe University of Arts and Design,49.001816,8.385647,39KarKa
...,...,...,...,...,...
37,Charlotte,Johnson C. Smith University,35.244470,-80.857372,27ChaJo
38,Charlotte,Johnson & Wales University - Charlotte,35.232514,-80.850946,38ChaJo
39,Charlotte,Charlotte School of Law,35.224990,-80.843017,23ChaCh
40,Charlotte,Kings College Charlotte NC,35.213536,-80.822009,26ChaKi
41,Charlotte,DeVry University-North Carolina,35.137838,-80.931370,31ChaDe
42,Charlotte,University of Phoenix-Charlotte Campus,35.152476,-80.948851,38ChaUn
43,Urbana-Champaign,University of Illinois at Urbana-Champaign,40.112805,-88.227132,42UrbUn
44,Urbana-Champaign,Tricoci University of Beauty Culture,40.133075,-88.215816,36UrbTr
45,Phoenix,Grand Canyon University,33.510543,-112.127037,23PhoGr
46,Phoenix,Phoenix College,33.483320,-112.087742,15PhoPh
47,Phoenix,arizona state university,33.497502,-112.069913,24Phoar
48,Phoenix,DeVry University,33.565994,-112.103769,16PhoDe
49,Phoenix,Arizona Christian University,33.594621,-112.026236,28PhoAr
50,Phoenix,Arizona Summit Law School,33.448509,-112.071839,25PhoAr
51,Phoenix,The Art Institute of Phoenix,33.566895,-112.106157,28PhoTh
52,Las Vegas,University of Nevada-Las Vegas,36.105558,-115.139125,30LasUn
53,Las Vegas,College of Southern Nevada,36.007922,-114.964833,26LasCo
54,Las Vegas,Northwest Career College,36.203770,-115.255452,24LasNo
55,Las Vegas,Brightwood College-Las Vegas,36.143345,-115.188099,28LasBr
56,Las Vegas,Le Cordon Bleu College of Culinary Arts Las Vegas,36.187965,-115.311689,49LasLe
57,Las Vegas,Pima Medical Institute-Las Vegas,36.114371,-115.102206,32LasPi
58,Las Vegas,Euphoria Institute of Beauty Arts & Sciences-L...,36.147539,-115.298671,54LasEu
59,Madison,University of Wisconsin-Madison,43.079177,-89.412222,31MadUn
60,Madison,Madison Area Technical College,43.122048,-89.327962,30MadMa
61,Madison,Edgewood College,43.060924,-89.423378,16MadEd
62,Madison,University of Wisconsin-Extension,43.074435,-89.397843,33MadUn
63,Madison,Madison Media Institute,43.059146,-89.294203,23MadMa
64,Madison,Herzing University-Madison,43.178557,-89.281635,26MadHe
65,Madison,Globe University,43.196346,-89.294680,16MadGl
66,Madison,Madison Cosmetology College,43.131446,-89.305169,27MadMa

In [25]:
uni.to_csv("university.csv", index = False)